# Wails binaries and build artifacts
/build/
/build/bin
build/
build/bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace / cache files
*.test
*.prof

# Dependency directories
frontend/node_modules/
frontend/dist/
/fronted/wailsjs
fronted/wailsjs

# IDE / Editor specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# OS specific files
Thumbs.db
ehthumbs.db